*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #E8E8E8;
}
h1{
    color:#fff;
    text-decoration-line: none;
    margin-right: 30%;
    margin-left: -14%;
}
.ticket{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: 17.5px 30px;
    margin-left: 55%;
    background: #45425A;
}
.new_ticket{
    position: absolute;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: 17.5px 30px;
    margin-left: 20px;
    margin-top: -18px;
    margin-bottom: 90%;
    white-space: nowrap;

}
nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    background: #4D41C0;
    height:8vh;
    align-items: center;
}
.ticket:hover {
    transition: 1s;
    color:white;
    background: #45425A;
}
.new_ticket:hover {
    transition: 1s;
    color:white;
    background: #45425A;
}
  
  .logo {
    font-size: 24px;
    text-align: left;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-left: 25px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu section {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    a:hover{
      transition: 1s;
      color:white;
      background: none;
    }
    .ticket{
        margin:0;
    }
    .new_ticket{
      position: absolute;
      color: #fff;
      text-decoration: none;
      transition: 0s;
      padding: 17px 30px;
      margin-left: -70px;
      margin-top: 0px;
      margin-bottom: 0;
      white-space: nowrap;

    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .select-1{
    position: absolute;
    width: 109px;
    height: 24px;
    left: 28px;
    top: 140px;
    border-radius: 5px 5px 5px;
    border-color: #9E9E9E;
    outline-color: #9E9E9E;
  }
  .select-2{
    position: absolute;
    width: 109px;
    height: 24px;
    left: 142px;
    top: 140px;
    border-radius: 5px 5px 5px;
    border-color: #9E9E9E;
    outline-color: #9E9E9E;
  }
  .select-3{
    position: absolute;
    width: 109px;
    height: 24px;
    left: 258px;
    top: 140px;
    border-radius: 5px 5px 5px;
    border-color: #9E9E9E;
    outline-color: #9E9E9E;
  }
/* .ticket{
    position: absolute;
    left:77%;
    align-items: center;
    display:flex;
    bottom:92%;
    overflow: hidden;
    padding: 18px 30px;
    background: #45425A;
    font-size: 100%;
}
.new_ticket{
    position:absolute;
    left:85%;
    align-items: center;
    display:flex;
    bottom:95%;
    overflow: hidden;
    padding: 28px 30px;
    top:0.1px;
    font-size: 100%;
}
.ticket:hover{
    transition: 1s;
    color:white;
    background: #45425A;
}
.new_ticket:hover{
    transition: 1s;
    color:white;
    background: #45425A;
} */
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color:#4D41C0;
    padding-left: 25px;
    padding-top: 20px;
}
.title-2{
  margin-top: -16px;
  padding-top: -1px;
  top:-10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  /* line-height: 19px; */
  display: flex;
  color:#4D41C0;
  padding-left: 490px;
}
.box{
  padding-left: 1px;
  margin-left: 15px;
  position: absolute;
  width: 342px;
  height: 32px;
  left: 12px;
  top: 96px;
  border-radius: 5px 5px 5px;
  border-color: #9E9E9E;
  outline-color: #9E9E9E;
}
.btn{
    background-image: url(img/bi_search.svg);
    position: absolute;
    border:none;
    padding: 9px 20px 8px 30px;
    margin-left: 375px;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    background-position-x: 10px;
    background-position-y:7px;
    background-color: #45425A;
    color:white;
    border-radius: 5px 4px 4px 5px;
    cursor: pointer;
}
.status-ticket{
  width: 98vw;
  height: 92vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -172px;
}
.box-2{
  background: url(img/fluent_ticket-horizontal-20-regular.svg) no-repeat center center;
  width:1030px;
  height:300px;
  background-color: white;
  margin-left:490px
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');